<app-nav></app-nav>
  <main class="container pt-5">
    <div class="bg-light p-5 rounded">
      <h1>Welcome home</h1>
      <p class="lead">This example is a quick exercise to illustrate how to perform a simple authentication using <a href="https://angular.io/" target="_blank">Angular</a> and <a href="https://www.django-rest-framework.org/" target="_blank">Django rest framework</a></p>
      <a class="btn btn-lg btn-primary" href="/login/" role="button">Login &raquo;</a>
    </div>
  </main>
  
